@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {

    --div-transform: scaleY(0);
    --div-scale: 1.2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    width: 90%;
    margin: 0 auto;
}

h1,
h2 {
    color: #2c3e50;
}

header {
    background-color: #0077cc;
    color: rgb(255, 255, 255);
    margin: 10px, 0, 10;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 110px;
}

#Logo {
    font-family: Lobster;
    color: white;
    padding-right: 20px;
    margin-top: 2%;
    margin-left: 20px;
}

#company {
    display: flex;
    margin-top: 3.2%;
    width: 170px;

}

#section-head {
    font-family: Lobster;
    text-align: center;
    background-color: rgb(255, 185, 55);
    border-style: double;
    border-radius: 1rem;
    border-color: white;
    text-decoration: none;
}

#home-href,
#about-href,
#visit-href,
#event-href {
    text-decoration: none;
}

#header-list {

    padding: 50%, 50%, 0;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#aside-list {
    opacity: 0;
    width: 120px;
    height: 100vh;
    border-radius: 10px;
    background-color: #007ed8;
    position: fixed;
    right: 60px;
    padding-top: 20px;

    transition: 0.5% all linear;
}

.check:checked~aside {
    display: none;
}

aside {
    /* margin-left: 70%; */
    padding: 0 10;
    position: fixed;
    top: 80px;
    right: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10%;
    border-radius: 10px;
    padding-left: 20px;
    flex-direction: column;
}

#sidebar-open-icon,
.check {
    opacity: 0;
    position: fixed;
    top: 30px;
    right: 210px;
}

#sidebar-open-icon:hover {

    transform: scale(1.2);
}

#events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


#attraction-list {
    list-style-type: "â­ ";
    padding-left: 20px;
}

#info-icon {
    align-content: center;
}



.link {

    display: inline-block;
    padding: 0.5em;
    margin: 10px;

    border-bottom: 0px solid orange;

    transition: transform 0.5s;



}

.check {
    transform: scale(2);
}




li a {
    border-bottom: 0px solid orange;
    transition: transform 0.3s;

}

li a:hover {
    border-bottom: 4px solid orange;
}



.link:hover {
    transform: scale(1.2);
    text-decoration-thickness: 0;

}

li {
    border-bottom: orange;
    border-width: 10px;
    border-bottom-width: 10px;
    border-color: #ff0000;
}

a strong {
    border-bottom: orange;
    border-width: 10px;
    border-bottom-width: 10px;
    border-color: #ff0000;
}

nav {
    margin-top: 2%;
    width: 100%;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-bottom: 20px;
}

.info {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event {
    background-color: white;
    box-shadow: #b1bac0;
    border-radius: 20px;
    padding: 10px;
    width: 350px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
    margin: 1%;

    transition: transform 0.3s;

}

.event:hover {
    transform: scale(1.15);
}

section {

    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;


    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

table {

    align-content: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

#event-button {
    background-color: orange;
    width: 150px;

}

article a button:hover {
    background-color: rgb(216, 147, 20);
}

article .event div {
    margin-left: 140px;
    width: 50px;
    height: 6px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}

main>img {
    width: 100%;
    height: 100%;

}

section li {
    padding: 15px;
}

main section ul li {
    padding: 15px;
    list-style-position: inside;
}

img {
    border-radius: 10px;
}

@media (max-width: 550px) {
    #Logo {
        transform: scale(0.8);
    }

    #company {
        display: none;
    }


    article {

        transform: scale(0.75);
    }
}

@media (max-width: 925px) {


    #header-img {
        opacity: 0;
        margin-right: 100px;
    }

    #header-list {
        display: none;
    }

    #sidebar-open-icon,
    .check {

        width: 42px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 50px;

    }

    #aside-list {
        opacity: 1;
    }

    #sidebar-open-icon {
        opacity: 1;
    }

    #time-table {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 0 auto;
    }

    #time-table::-webkit-scrollbar {
        width: 5px;
        border-radius: 6px;
        color: #696969;
        background-color: #6b6b6b;
    }

    #time-table::-webkit-scrollbar-track {
        border-radius: 6px;
    }

    #time-table::-webkit-scrollbar-thumb {

        border-radius: 6px;
    }

    #time-table::-webkit-scrollbar-thumb:hover {
        background-color: rgb(99, 99, 99);
    }

    table {
        white-space: nowrap;

        transform: rotate(90deg);
        transform: scale(0.7);
    }
}